@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif
}

/* GRID CONTENEDOR */
.grid__conteiner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 128px auto 150px;
    gap: 0px 0px;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
}


/*HEADER*/

header {
    width: 100%;
    background-color: #ffffff;
    grid-area: header;
}

/*HEADER_SUPERIOR*/

.header__superior {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}


.header__superior img {
    width: 90px;
}

.header__superior input {
    width: 250px;
    padding: 10px;
}


/*BARRA DE NAVEGACION*/

.container__menu {
    width: 100%;
    height: 50px;
    background: rgb(42, 5, 52);
    background: linear-gradient(90deg, rgba(42, 5, 52, 1) 0%, rgba(46, 177, 201, 1) 100%, rgba(122, 22, 171, 1) 100%);
    padding: 0px 20px;
    display: flex;
}

.menu__logo--movil{
    display: none;
}

.menu__logo--movil img{
    width: 70px;
    height: 70px;
    position: absolute;
    right: 1rem;
}


.menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*MENU PRINCIPAL*/

.menu nav {
    height: 100%;
}

.menu>nav>ul {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu>nav>ul>li {
    height: 100%;
    list-style: none;
    position: relative;
    margin: 0px 8px;

}

.menu nav>ul>li:first-child>a {
    background-image: url(../img/logo-home.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center center;

}

.menu nav>ul>li>a {
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 25px;
    transition: all 300ms ease;
}

.menu nav>ul>li>a:hover {
    transform: scale(1.1);
    background-color: rgb(3, 146, 146);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#selected {
    transform: scale(1.1);
    background-color: rgb(3, 146, 146);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}



/*SUBMENU*/

.menu nav ul li ul {
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    list-style: none;
    position: absolute;
    top: 70px;
    left: -15px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 10;
    border-radius: 20px;
    transition: all 300ms ease;
}

.menu nav ul li:hover ul {
    visibility: visible;
    opacity: 1;
    top: 50px;
    z-index: 1;
}

.menu nav ul li ul::before {
    content: "";
    width: 0px;
    height: 0px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #ffffff;
    position: absolute;
    top: -12px;
    left: 40px;

}

.menu nav ul li ul li a {
    display: block;
    color: #1632ab;
    padding: 8px;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    padding-left: 14px;
    margin-top: 10px;
    transition: all 300ms ease;
}

.menu nav ul li ul li a:hover {
    background-color: #304293;
    color: #ffffff;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 18px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}


/* MAIN */

main{
    width: 100%;
    grid-area: main;
}

/*HERO SECTION*/

.hero {
    width: 100%;
    height: calc(100vh - 160px);
    margin-top: 32px;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(../img/hero2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

/* TEXTO */

.hero__hero{
    width: 100%;
    height: calc(100vh - 160px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero__text {
    color: rgb(203, 151, 54);
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__text--h1{
    font-size: 7rem;
    margin-top: 2rem;
    display: flex;
}

.hero__text--p{
    font-size: 2rem;
}


/* BOTON */

.hero__boton {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__boton input {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    background-color: rgb(203, 151, 54);
}

.hero__boton input:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(203, 151, 54);
    transform: scale(1.06);
}


/* GALERIA DE IMAGENES */


.galeria__title {
    text-align: center;
    font-size: 3em;
    padding: 20px 0px;
}

.galeria {
    padding-top: 1rem;
    padding-bottom: 3rem;
    padding-left: 150px;
    padding-right: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    grid-template-areas:
        "img1 img1 img2"
        "img3 img4 img4"
        "img3 img5 img6"
        "img7 img7 img8"
        "img9 img9 img9";
    gap: 0.8em;
}

.galeria__img--img1 {
    grid-area: img1;
}

.galeria__img--img2 {
    grid-area: img2;
}

.galeria__img--img3 {
    grid-area: img3;
}

.galeria__img--img4 {
    grid-area: img4;
}

.galeria__img--img5 {
    grid-area: img5;
}

.galeria__img--img6 {
    grid-area: img6;
}

.galeria__img--img7 {
    grid-area: img7;
}

.galeria__img--img8 {
    grid-area: img8;
}

.galeria__img--img9 {
    grid-area: img9;
}

.galeria__picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 10px;
}

.fixed {
    position: fixed;
    right: 2%;
    bottom: 13%;
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(44, 201, 107, 1) 100%);
    font-family: 'Nunito', sans-serif;
    text-align: center;
    width: 175px;
    height: 175px;
    border-radius: 100%;
    box-shadow: 18px 16px 20px -4px rgba(0, 0, 0, 0.56);
    -webkit-box-shadow: 18px 16px 20px -4px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 18px 16px 20px -4px rgba(0, 0, 0, 0.56);
}

.fixed div {
    margin-top: 35px;
}

/*PAGE NOSOTROS*/

.nosotros {
    width: 100%;
    height: 80vh;
    background-image: url(../img/nosotros_grande.jpg);
    background-size: 30% calc(100vh - 160px);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.nosotros__img{
    display: none;
}

.nosotros__text{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nosotros__text p{
    width: 60%;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    position: relative;
    top: 8rem;
    left: 35%;
}


/* PAGE PRODUCTOS */

#menu__menu{
    text-align: center;
    font-size: 3rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.menu__menu{
    width: 100%;
    height:7rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu__menu a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(203, 151, 54);
    transition: all 300ms ease;
}

.menu__menu a:hover{
    transform: scale(1.1);
    background-color: rgb(203, 151, 54);
    border-radius: 1.3rem;
    color: #ffffff;
    padding: 10px;
}

.productos__conteiner{
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 45rem;
    grid-template-areas:
    "basico"
    "premium"
    "pizza"
    "viandas"
    ;
    gap: 15rem;
    justify-items: center;
}

.productos__menu--lista{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.productos__img950{
    display: none;
}

.productos__basico{
    width: 80%;
    grid-area: basico;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 0;
}

.productos__basico img{
    width: 50%;
    border-radius: 0.7rem;
    box-shadow: 7px 6px 12px 2px rgba(0,0,0,0.55);
    -webkit-box-shadow: 7px 6px 12px 2px rgba(0,0,0,0.55);
    -moz-box-shadow: 7px 6px 12px 2px rgba(0,0,0,0.55);
}


.productos__premium{
    width: 80%;
    grid-area: premium;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.productos__premium img{
    width: 50%;
    border-radius: 0.7rem;
    box-shadow: 7px 6px 12px 2px rgba(0,0,0,0.55);
    -webkit-box-shadow: 7px 6px 12px 2px rgba(0,0,0,0.55);
    -moz-box-shadow: 7px 6px 12px 2px rgba(0,0,0,0.55);
}


.productos__pizzaParty{
    width: 80%;
    grid-area: pizza;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.productos__pizzaParty img{
    width: 50%;
    border-radius: 0.7rem;
    box-shadow: 7px 6px 12px 2px rgba(0,0,0,0.55);
    -webkit-box-shadow: 7px 6px 12px 2px rgba(0,0,0,0.55);
    -moz-box-shadow: 7px 6px 12px 2px rgba(0,0,0,0.55);
}

.productos__pizzaParty div ul li{
    padding-top: 20px;
}

.productos__viandas{
    width: 100%;
    grid-area: viandas;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.productos__viandas img{
    width: 50%;
    height: 80%;
    border-radius: 0.7rem;
    box-shadow: 7px 6px 12px 2px rgba(0,0,0,0.55);
    -webkit-box-shadow: 7px 6px 12px 2px rgba(0,0,0,0.55);
    -moz-box-shadow: 7px 6px 12px 2px rgba(0,0,0,0.55);
    margin-left: 5%;
}

.productos__viandas div{
    margin-right: 5%;
}

.productos__viandas div ul li{
    padding-top: 10px;
}

.productos__viandas > div > h3{
    padding-top: 10px;
}

.productos__volver{
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.productos__volver input {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    background-color: rgb(203, 151, 54);
}

.productos__volver input:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(203, 151, 54);
    transform: scale(1.06);
}

/*PAGE CLIENTES*/

.clientes__title{
    display: flex;
    justify-content: center;
}

.clientes__title h1{
    font-size: 3rem;
    padding: 30px 0px;
}

.clientes {
    padding-top: 1em;
    padding-bottom: 3em;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 25rem;
    grid-template-areas:
        "coder ae coca"
        "arg velez berthe"
    ;
    gap: 1.5rem;
    justify-items: center;
}

.clientes__marca{
    margin: 0px 20px;
    border: 2px solid black;
    border-radius: 12%;
    box-shadow: 7px 6px 12px 2px rgba(0,0,0,0.55);
    -webkit-box-shadow: 7px 6px 12px 2px rgba(0,0,0,0.55);
    -moz-box-shadow: 7px 6px 12px 2px rgba(0,0,0,0.55);
}

.clientes__marca:hover{
    transform: scale(1.1);
}

.clientes__marca--coder{
    grid-area: coder;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clientes__marca--coder img{
    width: 18rem;
    border-radius: 10%;
}

.clientes__marca--coder > div{
    text-align: center;
}

.clientes__marca--coder > div a{
    text-decoration: none;
    color: rgb(203, 151, 54);
    background-color: #ffffff;
    padding: 0.3rem;
    border-radius: 10%;
}

.clientes__marca--coder > div a:hover{
    background-color: rgb(203, 151, 54);
    color: #ffffff;
}

.clientes__marca--ae {
    grid-area: ae;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clientes__marca--ae img{
    width: 18rem;
}

.clientes__marca--ae > div{
    text-align: center;
}

.clientes__marca--ae > div > h3{
    position: relative;
    top: 108px;
}

.clientes__marca--ae > div > p{
    position: relative;
    top: 108px;
}

.clientes__marca--ae > div a{
    position: relative;
    top: 108px;
    text-decoration: none;
    color: rgb(203, 151, 54);
    background-color: #ffffff;
    padding: 0.3rem;
    border-radius: 10%;
}

.clientes__marca--ae > div a:hover{
    background-color: rgb(203, 151, 54);
    color: #ffffff;
}

.clientes__marca--coca {
    grid-area: coca;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clientes__marca--coca img{
    width: 18rem;
}

.clientes__marca--coca > div{
    text-align: center;
}

.clientes__marca--coca > div > h3{
    position: relative;
    top: 100px;
}

.clientes__marca--coca > div > p{
    position: relative;
    top: 100px;
}

.clientes__marca--coca > div a{
    position: relative;
    top: 100px;
    text-decoration: none;
    color: rgb(203, 151, 54);
    background-color: #ffffff;
    padding: 0.3rem;
    border-radius: 10%;
}

.clientes__marca--coca > div a:hover{
    background-color: rgb(203, 151, 54);
    color: #ffffff;
}

.clientes__marca--arg {
    grid-area: arg;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clientes__marca--arg img{
    width: 18rem;
}

.clientes__marca--arg > div{
    text-align: center;
}

.clientes__marca--arg > div > h3{
    position: relative;
    top: 55px;
}

.clientes__marca--arg > div > p{
    position: relative;
    top: 55px;
}

.clientes__marca--arg > div a{
    position: relative;
    top: 55px;
    text-decoration: none;
    color: rgb(203, 151, 54);
    background-color: #ffffff;
    padding: 0.3rem;
    border-radius: 10%;
}

.clientes__marca--arg > div a:hover{
    background-color: rgb(203, 151, 54);
    color: #ffffff;
}

.clientes__marca--velez {
    grid-area: velez;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clientes__marca--velez img{
    width: 16rem;
}

.clientes__marca--velez > div{
    text-align: center;
}

.clientes__marca--velez > div > h3{
    position: relative;
    top: 20px;
}

.clientes__marca--velez > div > p{
    position: relative;
    top: 20px;
}

.clientes__marca--velez > div a{
    position: relative;
    top: 20px;
    text-decoration: none;
    color: rgb(203, 151, 54);
    background-color: #ffffff;
    padding: 0.3rem;
    border-radius: 10%;
}

.clientes__marca--velez > div a:hover{
    background-color: rgb(203, 151, 54);
    color: #ffffff;
}

.clientes__marca--berthe {
    grid-area: berthe;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clientes__marca--berthe img{
    width: 18rem;
    border-radius: 100%;
}

.clientes__marca--berthe > div{
    text-align: center;
}

.clientes__marca--berthe  > div > h4{
    text-decoration: none;
    color: rgb(0, 65, 126);
    background-color: #ffffff;
    padding: 0.35rem;
    border-radius: 5%;
}

.clientes__marca--berthe  > div > h4:hover{
    background-color: rgb(0, 65, 126);
    color: #ffffff;
}

.clientes__picture {
    width: 80%;
    object-fit: cover;
}

/*PAGE CONTACTO*/

.contacto__title h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.contacto {
    width: 100%;
    height: 100vh;
    background-image: url(../img/contacto_grande.jpg);
    background-size: 500px 700px;
    background-repeat: no-repeat;
    margin-top: -41px;
}

.contacto form {
    width: 900px;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    position: relative;
    top: 70px;
    left: 600px;
}


/* FOOTER */

footer {
    grid-area: footer;
    width: 100%;
    background-color: #ffffff;
}

.footer__conteiner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.footer__logo img {
    width: 100px;
}

.footer__contacto {
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
    color: #304293;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__redes{
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
}

.footer__redes a img{
    width: 90%;
    padding-left: 5px;
}

.footer__gitml {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.footer__gitml:hover {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.footer__gitml a {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    color: black;
}

.footer__gitml p {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    color: black;
}

.footer__gitml:hover a {
    text-decoration: underline;
    color: rgb(8, 71, 188);
}

.footer__gitml:hover p {
    text-decoration: underline;
    color: rgb(8, 71, 188);
}

@media screen and (max-width:1400px){
    .clientes {
        padding-left: 10%;
    }
        
}

@media screen and (max-width:1300px){
    .hero__text--h1{
        font-size: 5rem;
    }

    .clientes{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 400px;
        grid-template-areas:
            "coder ae"
            "arg coca"
            "velez berthe"
        ;
        gap: 1.5rem;
    }

    .clientes__marca{
        margin: 0px 10px;
        width: 21.8rem;
    }

}

@media screen and (max-width:1200px){
    .galeria {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 200px;
        grid-template-areas:
            "img1 img2"
            "img3 img4"
            "img5 img6"
            "img7 img8"
            "img9 img9";
    }
}

@media screen and (max-width:950px){
    
    .header__superior input{
        display: none;
    }
    
    .hero__text--h1{
        font-size: 3rem;
    }

    .hero__text--p{
        font-size: 1rem;
    }

    .hero__boton input {
        font-size: 0.9rem;
        padding: 5px 10px;
    }

    .galeria {
        padding-left: 50px;
        padding-right: 50px;
    }

    .fixed{
        display: none;
    }

    .nosotros {
        background-image: none;
        height: 100vh;
    }

    .nosotros__img{
        display: flex;
        width: 100%;
    }
    
    .nosotros__img img{
        width: 100%;
        height: 40vh;
    }

    .nosotros__text{
        width: 100%;
    }

    .nosotros__text p{
        width: 80%;
        font-size: 15px;
        padding: 5px;
        top: 2rem;
        left: 10%;
    }

    .menu__menu{
        height:4rem;
    }

    .productos__conteiner{
        grid-auto-rows: none;
        grid-template-rows: 48rem 48rem 37rem 37rem;
        gap: 5rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .productos__basico > img{
        display: none;
    }

    .productos__premium > img{
        display: none;
    }

    .productos__pizzaParty > img{
        display: none;
    }

    .productos__viandas > img{
        display: none;
    }

    .productos__img950{
        display: flex;
        justify-content: center;
    }

    .productos__img950 img{
        width: 100%;
    }

    .productos__basico{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .productos__premium{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .productos__pizzaParty{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .productos__viandas{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .productos__menu--lista{
        justify-content: center;
        align-items: center;
    }

    .productos__menu--lista h2{
        margin-bottom: 10px;
    }

    .productos__menu--lista h3{
        margin-bottom: 8px;
    }

    .productos__menu--lista ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .productos__menu--lista ul li{
        font-size: 0.8rem;
        margin: 0px 12px;
    }


    .productos--lista h2{
        text-align: center;
        margin-bottom: 10px;
    }

    .productos--lista h3{
        text-align: center;
    }

    .productos--lista ul{
        display: flex;
        flex-direction: row;
        justify-content: center;       
        align-items: center;
        flex-wrap: wrap;
    }

    .productos--lista ul li{
        font-size: 0.8rem;
        margin: 0px 12px;
    }
    

    .clientes__marca{
        width: 16rem;
    }

    .clientes__marca--coder img{
        width: 14rem;
    }


    .clientes__marca--coder > div > h3{
        position: relative;
        top: 1.8rem;
    }
    
    .clientes__marca--coder > div > p{
        position: relative;
        top: 1.8rem;
    }
    
    .clientes__marca--coder > div > a{
        position: relative;
        top: 1.8rem;
    }

    .clientes__marca--ae img{
        width: 14rem;
    }

    .clientes__marca--coca img{
        width: 14rem;
    }

    .clientes__marca--arg img{
        width: 14rem;
    }

    .clientes__marca--arg > div > h3{
        position: relative;
        top: 4.3rem;
    }
    
    .clientes__marca--arg > div > p{
        position: relative;
        top: 4.3rem;
    }
    
    .clientes__marca--arg > div > a{
        position: relative;
        top: 4.3rem;
    }

    .clientes__marca--velez img{
        width: 14rem;
    }

    .clientes__marca--berthe img{
        width: 14rem;
    }

    .clientes__marca--berthe > div > h3{
        position: relative;
        top: 1.3rem;
    }
    
    .clientes__marca--berthe > div > p{
        position: relative;
        top: 1.3rem;
    }
    
    .clientes__marca--berthe > div > h4{
        position: relative;
        top: 1.3rem;
    }

    .footer__redes{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .footer__redes a img{
        width: 70%;
    }

}

@media screen and (max-width:750px){
    
    .grid__conteiner{
        grid-template-rows: auto auto 150px;
    }

    .header__superior{
        padding: 0;
        margin: 0;
    }

    .header__superior img{
        display: none;
    }

    .container__menu{
        height: 100%;
    }

    .menu__logo--movil{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu{
        justify-content: flex-start;
    }

    .menu>nav>ul{
        flex-direction: column;
    }

    .menu nav>ul>li>a{
        font-size: 15px;
        padding: 5px;
        display: block;
    }

    .menu nav>ul>li:first-child>a{
        background-size: 20px;
        padding: 10px 20px;
        transform: scale(1);
    }

    .menu nav>ul>li>a:hover {
        transform: scale(1);
        background-color: rgba(3, 20, 146, 0);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
    }

    #selected {
        transform: scale(1);
        background-color: rgba(3, 146, 146, 0);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
    }

    .menu nav ul li ul {
        left: 100px;
        width: 150px;
    }

    .menu nav ul li:hover ul {
        top: -25px;
    }

    .menu nav ul li ul li a {
        font-size: 15px;
    }

    .menu nav ul li ul li a:hover {
        transform: scale(1);
        font-size: 15px;
        padding-left: 15px;
    }

    .menu nav ul li ul::before {
        border-right: 12px solid #ffffff;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        top: 30px;
        left: -23px;
    }

    .hero{
        object-fit: cover;
        background-position: center center;
        margin-top: 0px;
    }

    .hero__text--h1{
        margin-top: 0;
    }

    .nosotros__text p{
        font-size: 14px;
    }

    .productos__conteiner{
        grid-template-rows: 46rem 42rem 32rem 32rem;
    }

    .menu__menu{
        height:1.5rem;
    }
    
    .menu__menu a{
        font-size: 1rem;
    }
    
    .clientes{
        grid-auto-rows: 20rem;
    }

    .clientes__title h1{
        margin-left: 2.5rem;
    }

    .clientes__marca{
        width: 12rem;
    }

    .clientes__marca--coder img{
        width: 10rem;
    }

    .clientes__marca--coder > div > h3{
        top: 1.4rem;
        font-size: 0.8rem;
    }
    
    .clientes__marca--coder > div > p{
        top: 1.4rem;
        font-size: 0.8rem;
    }
    
    .clientes__marca--coder > div > a{
        top: 1.4rem;
        font-size: 0.8rem;
    }

    .clientes__marca--ae img{
        width: 10rem;
    }

    .clientes__marca--ae > div > h3{
        top: 5rem;
        font-size: 0.8rem;
    }
    
    .clientes__marca--ae > div > p{
        top: 5rem;
        font-size: 0.8rem;
    }
    
    .clientes__marca--ae > div > a{
        top: 5rem;
        font-size: 0.8rem;
    }

    .clientes__marca--coca img{
        width: 10rem;
    }

    .clientes__marca--coca > div > h3{
        top: 5rem;
        font-size: 0.8rem;
    }
    
    .clientes__marca--coca > div > p{
        top: 5rem;
        font-size: 0.8rem;
    }
    
    .clientes__marca--coca > div > a{
        top: 5rem;
        font-size: 0.8rem;
    }

    .clientes__marca--arg img{
        width: 10rem;
    }

    .clientes__marca--arg > div > h3{
        top: 3.5rem;
        font-size: 0.8rem;
    }
    
    .clientes__marca--arg > div > p{
        top: 3.5rem;
        font-size: 0.8rem;
    }
    
    .clientes__marca--arg > div > a{
        top: 3.5rem;
        font-size: 0.8rem;
    }

    .clientes__marca--velez img{
        width: 10rem;
    }

    .clientes__marca--velez > div > h3{
        top: 1.4rem;
        font-size: 0.8rem;
    }
    
    .clientes__marca--velez > div > p{
        top: 1.4rem;
        font-size: 0.8rem;
    }
    
    .clientes__marca--velez > div > a{
        top: 1.4rem;
        font-size: 0.8rem;
    }

    .clientes__marca--berthe img{
        width: 10rem;
    }

    .clientes__marca--berthe > div > h3{
        top: 1.3rem;
        font-size: 0.8rem;
    }
    
    .clientes__marca--berthe > div > p{
        top: 1.3rem;
        font-size: 0.8rem;
    }
    
    .clientes__marca--berthe > div > h4{
        top: 1.3rem;
        font-size: 0.8rem;
    }

    .footer__contacto {
        font-size: 15px;
    }

}


@media screen and (max-width:550px){

    .menu nav ul li ul {
        left: 100px;
        width: 100px;
    }

    .menu nav ul li ul li a {
        font-size: 10px;
    }

    .menu nav ul li ul li a:hover {
        font-size: 11px;
    }

    .hero__text--h1{
        font-size: 2rem;
    }

    .hero__text--p{
        font-size: .8rem;
    }

    .hero__boton input {
        font-size: 0.9rem;
        padding: 5px 10px;
    }

    .galeria__title {
        font-size: 1.5em;
        padding: 10px 0px;
    }

    .galeria {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 150px;
        grid-template-areas:
            "img1" 
            "img2"
            "img3" 
            "img4"
            "img5" 
            "img6"
            "img7" 
            "img8"
            "img9";
    }

    .nosotros__text p{
        font-size: 12px;
    }

    .productos__conteiner{
        grid-template-rows: 46rem 38rem 28rem 28rem;
    }

    .clientes{
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 200px;
        grid-template-areas:
            "coder"
            "ae"
            "arg" 
            "coca"
            "velez" 
            "berthe"
        ;
    }

    .clientes__title h1{
        margin-left: 0;
        font-size: 2.5rem;
    }

    .clientes__marca{
        width: 95%;
    }

    .clientes__marca--coder{
        flex-direction: row;
        justify-content: space-around;
    }

    .clientes__marca--coder > div{
        flex-direction: column;
    }

    .clientes__marca--coder img{
        width: 7rem;
    }

    .clientes__marca--coder > div > h3{
        top: 0;
        font-size: 0.5rem;
    }
    
    .clientes__marca--coder > div > p{
        top: 0rem;
        font-size: 0.5rem;
    }
    
    .clientes__marca--coder > div > a{
        top: 0rem;
        font-size: 0.5rem;
    }

    .clientes__marca--ae{
        flex-direction: row;
        justify-content: space-around;
    }

    .clientes__marca--ae > div{
        flex-direction: column;
    }

    .clientes__marca--ae img{
        width: 7rem;
    }

    .clientes__marca--ae > div > h3{
        top: 0;
        font-size: 0.5rem;
    }
    
    .clientes__marca--ae > div > p{
        top: 0;
        font-size: 0.5rem;
    }
    
    .clientes__marca--ae > div > a{
        top: 0;
        font-size: 0.5rem;
    }


    .clientes__marca--arg{
        flex-direction: row;
        justify-content: space-around;
    }

    .clientes__marca--arg > div{
        flex-direction: column;
    }

    .clientes__marca--arg img{
        width: 7rem;
    }

    .clientes__marca--arg > div > h3{
        top: 0rem;
        font-size: 0.5rem;
    }
    
    .clientes__marca--arg > div > p{
        top: 0rem;
        font-size: 0.5rem;
    }
    
    .clientes__marca--arg > div > a{
        top: 0rem;
        font-size: 0.5rem;
    }

    .clientes__marca--coca{
        flex-direction: row;
        justify-content: space-around;
    }

    .clientes__marca--coca > div{
        flex-direction: column;
    }

    .clientes__marca--coca img{
        width: 7rem;
    }

    .clientes__marca--coca > div > h3{
        top: 0;
        font-size: 0.5rem;
    }
    
    .clientes__marca--coca > div > p{
        top: 0;
        font-size: 0.5rem;
    }
    
    .clientes__marca--coca > div > a{
        top: 0;
        font-size: 0.5rem;
    }

    .clientes__marca--velez{
        flex-direction: row;
        justify-content: space-around;
    }

    .clientes__marca--velez > div{
        flex-direction: column;
    }

    .clientes__marca--velez img{
        width: 7rem;
    }

    .clientes__marca--velez > div > h3{
        top: 0;
        font-size: 0.5rem;
    }
    
    .clientes__marca--velez > div > p{
        top: 0;
        font-size: 0.5rem;
    }
    
    .clientes__marca--velez > div > a{
        top: 0;
        font-size: 0.5rem;
    }

    .clientes__marca--berthe{
        flex-direction: row;
        justify-content: space-around;
    }

    .clientes__marca--berthe > div{
        flex-direction: column;
    }

    .clientes__marca--berthe img{
        width: 7rem;
    }

    .clientes__marca--berthe > div > h3{
        top: 0;
        font-size: 0.5rem;
    }
    
    .clientes__marca--berthe > div > p{
        top: 0;
        font-size: 0.5rem;
    }
    
    .clientes__marca--berthe > div > h4{
        top: 0;
        font-size: 0.5rem;
    }

    .footer__logo img {
        width: 70px;
        height: 70px;
    }

    .footer__contacto {
        font-size: 13px;
    }

    .footer__redes a img{
        width: 50%;
    }

    .footer__gitml {
        font-size: 9px;
    }
    
    .footer__gitml:hover {
        font-size: 13px;
    }

}

@media screen and (max-width:450px){
    .nosotros__text p{
        font-size: 10px;
    }

    .menu__menu{
        height:1rem;
    }
    
    .menu__menu a{
        font-size: 0.8rem;
    }
}

@media screen and (max-width:400px){

    .footer__conteiner {
        flex-direction: column;
    }

    .footer__redes{
        flex-direction: row;
    }

}

@media screen and (max-width:370px){

    .hero__text--h1{
        font-size: 1.3rem;
    }

    .hero__text--p{
        font-size: .5rem;
    }

    .hero__boton input {
        font-size: 0.7rem;
        padding: 3px 7px;
    }

}

