/*----PAGE CONTACTO------*/

main {
    .contacto {
        width: 100%;
        display: flex;
        flex-direction: row;

        img {
            width: 30%;
            margin-bottom: 2rem;
        }

        .contacto__form {
            width: 80%;
            max-width: 900px;
            margin: auto;
            padding: 2.5rem 3rem;
            text-align: center;

            .contacto__title {
                h2 {
                    font-family: 'Nunito', sans-serif;
                    font-size: 30px;
                    text-align: center;
                }
            }

            .contacto__form--form {
                margin-top: 3rem;
                display: grid;

                .contacto__form--group {
                    position: relative;
                    
                    .contacto__form--1 {
                        margin-bottom: 1rem;
                        .form__label-1{
                            margin-left: 0.5rem;
                            color: nth($color-generales,1);
                            cursor: pointer;
                            position: absolute;
                            top: 0%;
                            left: 9.2%;
                            transform: translateY(10px);
                            transition: 0.5s, color 0.3s;
                        }
                        .form__label-2{
                            margin-left: 0.5rem;
                            color: nth($color-generales,1);
                            cursor: pointer;
                            position: absolute;
                            top: 0%;
                            left: 51%;
                            transform: translateY(10px);
                            transition: 0.5s, color 0.3s;
                        }
                        .form__input{
                            width: 40%;
                            background: none;
                            color: nth($color-generales,1);
                            font-size: 1rem;
                            padding: 0.6rem 0.3rem;
                            margin-left: 0.6rem;
                            border: none;
                            outline: none;
                            border-bottom: 1px solid $color-secundario;
                            }
                        .form__input:focus + .form__label-1, .form__input:not(:placeholder-shown) + .form__label-1{
                            transform: translateY(-12px) scale(.7);
                            transform-origin: left top;
                            color: $color-secundario;
                        }
                        .form__input:focus + .form__label-2, .form__input:not(:placeholder-shown) + .form__label-2{
                            transform: translateY(-12px) scale(.7);
                            transform-origin: left top;
                            color: $color-secundario;
                        }
                    }
                    .contacto__form--2{
                        .form__label-1{
                            margin-left: 0.5rem;
                            color: nth($color-generales,1);
                            cursor: pointer;
                            position: absolute;
                            top: 58px;
                            left: 9.2%;
                            transform: translateY(10px);
                            transition: 0.5s, color 0.3s;
                        }
                        .form__label-2{
                            margin-left: 0.5rem;
                            color: nth($color-generales,1);
                            cursor: pointer;
                            position: absolute;
                            top: 58px;
                            left: 51%;
                            transform: translateY(10px);
                            transition: 0.5s, color 0.3s;
                        }
                        .form__input{
                            width: 40%;
                            background: none;
                            color: nth($color-generales,1);
                            font-size: 1rem;
                            padding: 0.6rem 0.3rem;
                            margin-left: 0.6rem;
                            border: none;
                            outline: none;
                            border-bottom: 1px solid $color-secundario;
                            }
                        .form__input:focus + .form__label-1, .form__input:not(:placeholder-shown) + .form__label-1{
                            transform: translateY(-12px) scale(.7);
                            transform-origin: left top;
                            color: $color-secundario;
                        }
                        .form__input:focus + .form__label-2, .form__input:not(:placeholder-shown) + .form__label-2{
                            transform: translateY(-12px) scale(.7);
                            transform-origin: left top;
                            color: $color-secundario;
                        }
                    }

                    .contacto__form--3 {
                        >div {
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            margin: 1rem;

                            >label {
                                margin-left: 1rem;
                                font-weight: bold;
                            }
                        }

                        .contacto__form--3-2 {
                            margin-bottom: 2rem;
                            display: flex;
                            flex-wrap: wrap;

                            div {
                                margin-left: 0.5rem;
                            }
                        }
                    }

                    .contacto__form--4 {
                        margin: 1rem;
                            .form__label-1{
                                margin-left: 0.5rem;
                                color: nth($color-generales,1);
                                cursor: pointer;
                                position: absolute;
                                top: 210px;
                                left: 10.8%;
                                transform: translateY(10px);
                                transition: 0.5s, color 0.3s;
                            }
                            .form__label-2{
                                margin-left: 0.5rem;
                                color: nth($color-generales,1);
                                cursor: pointer;
                                position: absolute;
                                top: 210px;
                                left: 51%;
                                transform: translateY(10px);
                                transition: 0.5s, color 0.3s;
                            }
                            .form__input{
                                width: 40%;
                                background: none;
                                color: nth($color-generales,1);
                                font-size: 1rem;
                                padding: 0.6rem 0.3rem;
                                margin-left: 0.6rem;
                                border: none;
                                outline: none;
                                border-bottom: 1px solid $color-secundario;
                                }
                            .form__input:focus + .form__label-1, .form__input:not(:placeholder-shown) + .form__label-1{
                                transform: translateY(-12px) scale(.7);
                                transform-origin: left top;
                                color: $color-secundario;
                            }
                            .form__input:focus + .form__label-2, .form__input:not(:placeholder-shown) + .form__label-2{
                                transform: translateY(-12px) scale(.7);
                                transform-origin: left top;
                                color: $color-secundario;
                            }

                        
                        .contacto__form--4-1 {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            margin-top: 1rem;

                            div {
                                margin-left: 0.5rem;
                            }
                        }
                    }

                    .contacto__form--5 {
                        display: flex;
                        flex-direction: column;

                        textarea {
                            width: 100%;
                            height: 6rem;
                            resize: none;
                            margin-bottom: 1rem;
                        }
                    }

                    .contacto__boton {
                        input {
                            @include botones ($color-principal);

                            &:hover {
                                @include botones (nth($color-generales, 2));
                            }
                        }
                    }
                }
            }
        }
    }
}